<div *ngIf="!loaded" class="spinner-wrapper full-area">
  <div class="spinner">Loading...</div>
</div>

<div class="row">
  <div class="col-12 col-md-12 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
        <div class="row">
          <div class="col-10">
            <div class="titulo">REVISIONES</div>
            <div class="subtitulo mb-2">Listado de las revisiones que se realizan por cada tipo de sistema de la planta.</div>
          </div>
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <a 
                mat-button href="javascript:void(0)" 
                class="pr-1"
                data-toggle="tooltip" 
                data-placement="top" 
                title="Volver Atras"
              >
                <i 
                  (click)="goBack()"
                  class="feather icon-arrow-left"
                  style="cursor: pointer;font-size: 20px;color: #C4C4C4;"
                ></i>
              </a>
              <a 
                mat-button href="javascript:void(0)" 
                class="pr-1"
                data-toggle="tooltip" 
                data-placement="top" 
                title="Crear revisión"
              >
                <i 
                  (click)="redirectPreview()"
                  class="feather icon-plus"
                  style="cursor: pointer;font-size: 20px;color: #C4C4C4;"
                ></i>
              </a>
              <a 
                mat-button href="javascript:void(0)" 
                class="pl-1"
                data-toggle="tooltip" 
                data-placement="top" 
                title="Nueva Revisión"
              >
                <i 
                  (click)="exportAsExcel()" 
                  class="feather icon-download" 
                  style="cursor: pointer;font-size: 20px;color: #C4C4C4;"
                  data-toggle="tooltip" 
                  data-placement="top" 
                  title="Exportar Revisiones"
                ></i>
              </a>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex justify-content flex-row align-items-center">

              <svg width="17" height="17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8" cy="8" r="5" fill="#b7b8b9"/>          
              </svg>
              <div class="d-felx font-normal ml-1 mr-2" style="color: #828282 !important;" style="font-size: 14px; font-weight: 400!important;">Preliminar</div>
            
              <svg width="17" height="17" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8" cy="8" r="5" fill="#28a745"/>          
              </svg>
              <div class="d-felx font-normal ml-1 mr-2" style="color: #828282 !important;" style="font-size: 14px; font-weight: 400!important;">Completo</div>
             
            </div>
          </div>
        </div>
        
        <app-tabla-type-system-revision
          [data]=responseTypeSystemRevision
          (salida)="setTypeSystemRevision($event)"
          *ngIf="responseTypeSystemRevision.length > 0"
        ></app-tabla-type-system-revision>
        <div 
          id="external-events" 
          class="external-events pt-3"
          *ngIf="responseTypeSystemRevision.length == 0"
        >
          <div class="fc-event-page fc-h-event">
            <p class="m-0" style="font-size: 14px">No se encontraron registros de las revisiones.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
