<div #TABLE style="display: none">
  <div class="table-responsive mt-3">
    <table class="table table-sm">
      <thead>
        <tr class="font-overpass">
          <th scope="col" class="font-normal text-md">NOMBRE</th>
          <th scope="col" class="font-normal text-md">CORREO ELÉCTRONICO</th>
          <th scope="col" class="font-normal text-md">CONTRASEÑA</th>
          <th scope="col" class="font-normal text-md">TELÉFONO</th>
          <th scope="col" class="font-normal text-md">NOTIFICAR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of datos" style="cursor: pointer">
          <td class="pt-2">
            <span class="p-column-title">NOMBRE: </span
            ><b>{{ element.name }} {{ element.lastname }}</b>
          </td>
          <td class="pt-2">
            <span class="p-column-title">CORREO: </span>{{ element.email }}
          </td>
          <td class="pt-2">
            <span class="p-column-title">NOMBRE: </span>{{ element.password }}
          </td>
          <td class="pt-2">
            <span class="p-column-title">CONTRASEÑA: </span>{{ element.mobile }}
          </td>
          <td class="text-center pt-2">
            <span class="p-column-title">NOTIFICAR: </span
            >{{ element.status ? "Si" : "No" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="table-responsive mt-3">
  <table class="table table-sm">
    <thead>
      <tr class="font-overpass">
        <th scope="col" class="font-normal text-md" style="width: 30%">
          NOMBRE
        </th>
        <th scope="col" class="font-normal text-md" style="width: 30%">
          CORREO ELÉCTRONICO
        </th>
        <th scope="col" class="font-normal text-md" style="width: 30%">
          CONTRASEÑA
        </th>
        <th scope="col" class="font-normal text-md" style="width: 15%">
          TELÉFONO
        </th>
        <th scope="col" class="font-normal text-md" style="width: 15%">
          ESTADO
        </th>
        <th
          scope="col"
          class="font-normal text-md text-center"
          style="width: 10%"
        >
          ACCIONES
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="text-left text-md"
        *ngFor="
          let element of datos
            | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
        "
      >
        <td class="pt-2" style="width: 30%">
          <span class="p-column-title">NOMBRE: </span>
          <b>{{ element.name }} {{ element.lastname }}</b>
        </td>
        <td class="pt-2" style="width: 30%">
          <span class="p-column-title">CORREO: </span>{{ element.email }}
        </td>
        <td class="pt-2" style="width: 30%">
          <span class="p-column-title">CONTRASEÑA: </span>{{ element.password }}
        </td>
        <td class="pt-2" style="width: 15%">
          <span class="p-column-title">TELÉFONO: </span>{{ element.phone }}
        </td>
        <td class="pt-2" style="width: 15%">
          <span class="p-column-title">ESTADO: </span>
          {{ element.status ? "Activo" : "Inactivo" }}
        </td>
        <td class="text-center pt-2" style="width: 10%">
          <span class="p-column-title">ACCIONES: </span>
          <app-form-usuario
            [nombre]="'Edición de usuario'"
            [data]="element"
            [update]="true"
          ></app-form-usuario>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ngb-pagination
  [collectionSize]="datos.length"
  [pageSize]="pageSize"
  [(page)]="page"
></ngb-pagination>
