<div class="row">
  <div class="col-12 col-md-4 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <app-module-plant></app-module-plant>
    </div>
  </div>
  <div class="col-12 col-md-4 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <app-module-equipment></app-module-equipment>
    </div>
  </div>
  <div class="col-12 col-md-4 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <app-module-component></app-module-component>
    </div>
  </div>
</div>