<h6><b>USUARIOS</b></h6>

<div *ngIf="!loaded" class="spinner-wrapper full-area">
  <div class="spinner">Loading...</div>
</div>

<div class="row mt-3">
  <div class="col-12 col-xxl-6 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
        <div class="row">
          <div class="col-10">
            <div class="titulo">USUARIOS</div>
            <div class="subtitulo mb-2">
              Listado de usuarios para visualizar las ordenes de mantenimiento.
            </div>
          </div>
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <app-form-usuario
                class="pr-2"
                [nombre]="'Creación de usuario'"
                (refresh)="setRefresh($event)"
              ></app-form-usuario>
              <a mat-button href="javascript:void(0)">
                <i (click)="exportUsuariosExcel()" class="feather icon-download" style="cursor: pointer;font-size: 20px;color: #C4C4C4;"></i>
              </a>
            </div>
          </div>
        </div>
        
        <app-tabla-usuarios 
          [data]=dataUsuarios
          (salida)="setUsuarios($event)"
          *ngIf="loaded"
        ></app-tabla-usuarios>

      </div>
    </div>
  </div>
</div>
