<div #TABLE style="display: none">
  <div class="table-responsive mt-3">
    <table class="table table-sm">
      <thead>
        <tr class="font-overpass">
          <th class="text-left" style="width:5%">#</th>
          <th class="text-left" style="width:25%">Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of datos" style="cursor: pointer">
          <td class="text-left">{{ element.id }}</td>
          <td class="text-left">{{ element.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="table-responsive mt-3">
  <table class="table table-sm">
    <thead>
      <tr class="font-overpass">
        <th class="text-left" style="width:5%">#</th>
        <th class="text-left" style="width:25%">Nombre</th>
        <th class="text-center" style="width:10%">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="text-left text-md"
        *ngFor="let element of datos | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize"
      >
        <td class="text-left">{{ element.id }}</td>
        <td class="text-left">{{ element.name }}</td>
        <td class="text-center pt-1">
          <app-form-type-component
            [nombre]="'Edición del componente'"
            [data]="element"
            [update]="true"
            (refresh)="setRefresh($event)"
          ></app-form-type-component>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ngb-pagination
  [collectionSize]="datos.length"
  [pageSize]="pageSize"
  [(page)]="page"
></ngb-pagination>
