.swal2-modal {
    min-height: 300px !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    width: 420px !important;
    height: 120px !important;
}
.detail {
    font-size: 14px;
    width: 50%;
}