<div #TABLE style="display: none">
  <div class="table-responsive mt-3">
    <table class="table table-sm">
      <thead>
        <tr class="font-overpass">
          <th class="text-left" style="width:3%">#</th>
          <th class="text-center" style="width:5%">Estado</th>
          <th class="text-left" style="width:10%">Tipo de Sistema</th>
          <th class="text-left" style="width:5%">Planta</th>
          <th class="text-center" style="width:5%">Revisiones</th>
          <th class="text-left" style="width:15%">Responsable</th>
          <th class="text-left" style="width:5%">Última revisión</th>
          <th class="text-center" style="width:5%">Horas</th>
          <th class="text-left" style="width:5%">Componente</th>
          <th class="text-left" style="width:5%">Lista de revisión</th>
          <th class="text-left" style="width:10%">Pregunta</th>
          <th class="text-left" style="width:5%">Resultado</th>
          <th class="text-left" style="width:22%">Notas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of datos" style="cursor: pointer">
          <td class="text-left">{{ element.id }}</td>
          <td class="text-left">{{ getStatusName(element.status) }}</td>
          <td class="text-left">{{ element.name }}</td>
          <td class="text-left">{{ element.planta_name }}</td>
          <td class="text-center">{{ element.quantity_revision }}</td>
          <td class="text-left">{{ element.responsable }}</td>
          <td class="text-left">{{ element.last_date | date: 'yyyy-MM-dd HH:mm' }}</td>
          <td class="text-center">{{ element.hours }}</td>
          <td class="text-left">{{ element.component_name }}</td>
          <td class="text-left">{{ element.form_name }}</td>
          <td class="text-left">{{ element.question }}</td>
          <td class="text-left">{{ element.type_question_name }}</td>
          <td class="text-left">{{ element.notes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="table-responsive mt-3">
  <table class="table table-sm">
    <thead>
      <tr class="font-overpass">
        <th class="text-left" style="width:3%">#</th>
        <th class="text-center" style="width:5%">Estado</th>
        <th class="text-left" style="width:10%">Tipo de Sistema</th>
        <th class="text-left" style="width:5%">Planta</th>
        <th class="text-center" style="width:5%">Revisiones</th>
        <th class="text-left" style="width:15%">Responsable</th>
        <th class="text-left" style="width:5%">Última revisión</th>
        <th class="text-center" style="width:5%">Horas</th>
        <th class="text-left" style="width:5%">Componente</th>
        <th class="text-left" style="width:5%">Lista de revisión</th>
        <th class="text-left" style="width:10%">Pregunta</th>
        <th class="text-left" style="width:5%">Resultado</th>
        <th class="text-left" style="width:22%">Notas</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="text-left text-md"
        *ngFor="
          let element of datos
            | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
        "
      >
        <td class="text-left">{{ element.id }}</td>
        <td class="font-normal text-center pt-1 pb-1" style="width:5%;">
          <svg width="17" height="17" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle cx="8" cy="8" r="5" [attr.fill]="getStatusFill(element.status)"/>          
          </svg>
        </td>
        <td class="text-left">{{ element.name }}</td>
        <td class="text-left">{{ element.planta_name }}</td>
        <td class="text-center">{{ element.quantity_revision }}</td>
        <td class="text-left">{{ element.responsable }}</td>
        <td class="text-left">{{ element.last_date | date: 'yyyy-MM-dd HH:mm' }}</td>
        <td class="text-center">{{ element.hours }}</td>
        <td class="text-left">{{ element.component_name }}</td>
        <td class="text-left">{{ element.form_name }}</td>
        <td class="text-left">{{ element.question }}</td>
        <td class="text-left">{{ element.type_question_name }}</td>
        <td class="text-left">{{ element.notes }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ngb-pagination
  [collectionSize]="datos.length"
  [pageSize]="pageSize"
  [(page)]="page"
></ngb-pagination>
