<div #TABLE style="display: none">
  <div class="table-responsive mt-3">
    <table class="table table-sm">
      <thead>
        <tr class="font-overpass">
          <th class="text-left" style="width:15%">Tipo</th>
          <th class="text-left" style="width:15%">Evaluación</th>
          <th class="text-left" style="width:25%">Resultado</th>
          <th class="text-left" style="width:60%">Notas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of original" style="cursor: pointer">
          <td class="text-left p-1">{{ element.component_name }}</td>
          <td class="text-left p-1">{{ element.question }}</td>
          <td class="text-left p-1">{{ element.type_question_name }}</td>
          <td class="text-left p-1">{{ element.note }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="table-responsive mt-3">
  <table class="table table-sm">
    <thead>
      <tr class="font-overpass">
        <th class="text-left" style="width:15%">Tipo</th>
        <th class="text-left" style="width:15%">Evaluación</th>
        <th class="text-left" style="width:25%">Resultado</th>
        <th class="text-left" style="width:60%">Notas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of datos">
        <td class="text-left p-1">{{ element.component_name }}</td>
        <td class="text-left p-1">{{ element.question }}</td>
        <td class="text-left p-1">{{ element.type_question_name }}</td>
        <td class="text-left p-1">{{ element.note }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ngb-pagination
  [collectionSize]="datos.length"
  [pageSize]="pageSize"
  [(page)]="page"
></ngb-pagination>
