<div #TABLE style="display: none">
  <div class="table-responsive mt-3">
    <table class="table table-sm">
      <thead>
        <tr class="font-overpass">
          <th class="text-left" style="width:5%">#</th>
          <th class="text-left" style="width:10%">Planta</th>
          <th class="text-left" style="width:10%">Tipo de sistema</th>
          <th class="text-left" style="width:10%">Componente</th>
          <th class="text-left" style="width:10%">Equipo</th>
          <th class="text-left" style="width:25%">Responsable</th>
          <th class="text-left" style="width:10%">Fecha</th>
          <th class="text-left" style="width:5%">Horas</th>
          <th class="text-left" style="width:25%">Descripción</th>
          <th class="text-left" style="width:25%">Notas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of datos" style="cursor: pointer">
          <td class="text-left">{{ element.id }}</td>
          <td class="text-left">{{ element.plant_name }}</td>
          <td class="text-left">{{ element.type_system_name }}</td>
          <td class="text-left">{{ element.type_component_name }}</td>
          <td class="text-left">{{ element.equipment }}</td>
          <td class="text-left">{{ element.responsable }}</td>
          <td class="text-left">{{ element.date }}</td>
          <td class="text-left">{{ element.hours }}</td>
          <td class="text-left">{{ element.description }}</td>
          <td class="text-left">{{ element.notes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="table-responsive mt-3">
  <table class="table table-sm">
    <thead>
      <tr class="font-overpass">
        <th class="text-left" style="width:5%">#</th>
        <th class="text-left" style="width:7%">Planta</th>
        <th class="text-left" style="width:8%">Tipo de sistema</th>
        <th class="text-left" style="width:7%">Componente</th>
        <th class="text-left" style="width:7%">Equipo</th>
        <th class="text-left" style="width:10%">Responsable</th>
        <th class="text-left" style="width:10%">Fecha</th>
        <th class="text-center" style="width:5%">Horas</th>
        <th class="text-left" style="width:25%">Descripción</th>
        <th class="text-left" style="width:25%">Notas</th>
        <th class="text-center" style="width:5%">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="text-left text-md"
        *ngFor="
          let element of datos
            | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
        "
      >
        <td class="text-left">{{ element.id }}</td>
        <td class="text-left">{{ element.plant_name }}</td>
        <td class="text-left">{{ element.type_system_name }}</td>
        <td class="text-left">{{ element.type_component_name }}</td>
        <td class="text-left">{{ element.equipment }}</td>
        <td class="text-left">{{ element.responsable }}</td>
        <td class="text-left">{{ element.date }}</td>
        <td class="text-center">{{ element.hours }}</td>
        <td class="text-left">{{ element.description }}</td>
        <td class="text-left">{{ element.notes }}</td>
        <td class="text-center pt-1">
          <app-form-mtto-corrective
            class="pr-2"
            [nombre]="'Edición del mantenimiento correctivo'"
            [data]="element"
            [update]="true"
            (refresh)="setRefresh($event)"
          ></app-form-mtto-corrective>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ngb-pagination
  [collectionSize]="datos.length"
  [pageSize]="pageSize"
  [(page)]="page"
></ngb-pagination>
